---
title: Home
---


xxx


    {% for post in paginator.posts %}
      
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      <hr> 
    {% endfor %}
 






{% if paginator.total_pages > 1 %}
		<div class="postnavigation">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span >{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
