---
title: Home
---




<article class="post-item">
        <p><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  — <strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong> — <span> {{ post.content | strip_html | truncatewords: 40 }}</span> <a class="post-link readmore" href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
      </article>



<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			

			{{ post.excerpt }}

			<p><a class="button" href="{{ post.url }}">Read more</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
