---
---

{% for post in site.posts limit:site.data.theme.num_home_posts %}
<div class="post-header-home">
  <h1 class="post-title-home">
    <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
  </h1>
  {% include post-header-home.html %}
</div>





    



<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			<div class="image">
				<img src="{{ post.featured_image }}" alt="{{ post.title }}">
			</div>

			{{ post.excerpt }}

			<p><a class="button" href="{{ post.url }}">Read more</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
















<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
