.reklam{padding-bottom:13px; padding-top:13px;}


.1related-posts{background:#f6f6f6;border-radius:4px;margin-left:0;padding:4px;margin-bottom:10px;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)}.related-posts a{color:#333;font-weight:bold}.border-box{box-sizing:border-box}



.postnavigation {
	height: 24px;
	text-align: left;
}

.postnavigation a, .postnavigation span.nope {
	text-align: center;
	text-decoration: none;
	padding: 2px 8px 3px 8px;
	margin: 0 6px;
	display: inline-block;
	border: 1px solid #dedede;
}

.postnavigation span.nope, .postnavigation a:hover {
	color: #232323;
}

.postnavigation .pages {
	padding: 2px 8px 3px 8px;
	color: #aaabbb;
}
